@page "/"
@using pickban.Data
@inject NavigationManager _nav
<h3>DS Tournament Pick Ban helper</h3>
<div class="jumbotron">
    Press on the 'Create Link' button and share the link with your opponents.
    Follow the link to get to the PickBan helper page.
</div>

<button class="btn btn-primary" @onclick="@CreateLink">Create Link</button>
<div class="mt-3">
    @if (!String.IsNullOrEmpty(myLink))
    {
    <h5><a href="@myLink">@myLink</a></h5>
    }
</div>


@code {

    private string myLink = "";
    private bool linkCreated = false;

    private void CreateLink()
    {
        if (linkCreated)
            return;
        Random rnd = new Random();
        int id = 0;
        lock (PBData.IDs)
        {
            do
            {
                id = rnd.Next(int.MaxValue);
            } while (PBData.IDs.Contains(id));
            PBData.IDs.Add(id);
        }
        myLink = _nav.BaseUri + "pickban/" + id;
        StateHasChanged();
        linkCreated = true;
    }
}
