@using pax.dsstats.shared;
@inject IStatsService statsService

<div>
    <CascadingValue Value="StatsRequest">
        <StatsRequestComponent OnRequestChanged="LoadData"></StatsRequestComponent>
    </CascadingValue>
</div>

@if (isLoading)
{
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
@if (statsResponse != null)
{
    <div class="d-flex">
        <div>
            <span class="badge bg-info" style="font-size: 1rem;">Replays: @statsResponse.CountDefaultFilter</span>
        </div>
        <div>
            <span class="badge bg-info" style="font-size: 1rem;">Filtered: @statsResponse.CountNotDefaultFilter</span>
        </div>
    </div>

    <CascadingValue Value="statsResponse">
        <div class="row">
            <div class="col-auto">
                <StatsTable></StatsTable>
            </div>
            <div class="col-8">
                <StatsChart @ref="statsChart"></StatsChart>
            </div>
        </div>
    </CascadingValue>
}

@code {
    [Parameter]
    [EditorRequired]
    public StatsRequest StatsRequest { get; set; } = default!;

    private bool isLoading = false;
    private StatsResponse? statsResponse;
    private object lockobject = new();

    StatsChart? statsChart;

    protected override void OnInitialized()
    {
        _ = LoadData();
        base.OnInitialized();
    }

    public async Task LoadData()
    {
        lock (lockobject)
        {
            if (isLoading)
            {
                return;
            }
            isLoading = true;
        }
        await InvokeAsync(() => StateHasChanged());
        statsResponse = await statsService.GetStatsResponse(StatsRequest);
        isLoading = false;
        statsChart?.SetChart();
        await InvokeAsync(() => StateHasChanged());
    }
}
