
.buildarea {
    width: 1000px;
    min-width: 1000px !important;
    height: 400px;
    min-height: 400px !important;
    background-color: #a6a4ca;
    border: inset 2px darkblue;
    transition: border-width 0.3s linear;
}

.buildarea:hover {
    border-width: 5px;
}


.buildarea_success {
    width: 1000px;
    min-width: 1000px !important;
    height: 400px;
    min-height: 400px !important;
    background-color: #a6a4ca;
    border: inset 5px darkblue;
    animation-name: bs_animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes bs_animation {
    0% {
        border-color: darkblue;
        border-width: 5px;
    }
    20% {
        border-color: #0b7427;
        border-width: 10px;
    }
    100% {
        border-color: darkblue;
        border-width: 5px;
    }
}

.buildarea_failed {
    width: 1000px;
    min-width: 1000px !important;
    height: 400px;
    min-height: 400px !important;
    background-color: #a6a4ca;
    border: inset 5px darkblue;
    animation-name: bf_animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes bf_animation {
    0% {
        border-color: darkblue;
        border-width: 5px;
    }

    20% {
        border-color: #ff0000;
        border-width: 10px;
    }

    100% {
        border-color: darkblue;
        border-width: 5px;
    }
}

.buildarea_layer {
    position: absolute !important;
    display: inline-block !important;
    white-space: nowrap !important;
}

.unitclass {
    cursor: pointer;
    background: #191365;
    color: #adb2b4;
    width: 120px;
    border-width: 2px !important;
    border-color: darkblue !important;
    box-shadow: 3px 3px 2px black;
}

.unitsell {
    width: 65px;
    height: 65px;
    background: transparent;
    border: 1px dashed #75868a;
}

.unitsell:hover {
    background-color: darkred;
}

.unitclass_notenoughmoney {
    background: #ff0000;
    color: #adb2b4;
    width: 120px;
    border-width: 2px !important;
    border-color: darkblue !important;
    box-shadow: 3px 3px 2px black;
}

.unitclass_researched {
    background: #0b7427;
    color: #adb2b4;
    width: 120px;
    border-width: 2px !important;
    border-color: darkblue !important;
    box-shadow: 3px 3px 2px black;
}

.unitclass_availablesoon {
    background: #39403f;
    color: #adb2b4;
    width: 120px;
    border-width: 2px !important;
    border-color: darkblue !important;
    box-shadow: 3px 3px 2px black;
}

.unitcontainerclass {
    background: #191365;
    color: #adb2b4;
    width: 120px;
    border-width: 2px !important;
    border-color: darkblue !important;
}

.cursormarine {
    cursor: url('../images/pax_marine_cursor.png'), auto;
}

.cursormarauder {
    cursor: url('../images/pax_marauder_cursor.png'), auto;
}

.cursorreaper {
    cursor: url('../images/pax_reaper_cursor.png'), auto;
}

.unitimage {
}
.unitimage:hover {
    background-color: darkblue;
}

.buildrotate {
    transform: rotate(180deg);
}