<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="REPLAY_PATH" value="" />
    <add key="PLAYER" value="" />
    <add key="SKIP_NORMAL" value="1" />
    <add key="SKIP" value="240" />
    <add key="START_DATE" value="0" />
    <add key="END_DATE" value="0" />
    <add key="DEBUG" value="1" />
    <add key="SKIP_MSG" value="0" />
    <add key="BETA" value="1" />
    <add key="HOTS" value="0" />
    <add key="DURATION" value="5376" />
    <add key="LEAVER" value="2000" />
    <add key="KILLSUM" value="1500" />
    <add key="INCOME" value="1500" />
    <add key="ARMY" value="1500" />
    <add key="KEEP" value="1" />
    <add key="FIRST_RUN" value="1" />
  </appSettings>


  
  <connectionStrings>

  </connectionStrings>

</configuration>