@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <div class="p-2 border rounded border-yellow">
            <h2 class="text-warning">Deprecated - please visit <a href="https://sc2dsstats.pax77.org">sc2dsstats.pax77.org</a> for the latest stats!</h2>
        </div>
        @Body
    </div>
</div>
