
.ismobile {
    display: none;
}

.isdesktop {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .ismobile {
        display: block;
    }
    .isdesktop {
        display: none;
    }
}