@page "/optout"
@inject IJSRuntime _js

<div style="mt-4">
    <button type="button" class="btn btn-primary" @onclick="@(() => { _js.InvokeVoidAsync("gaOptout"); })">Click here to opt-out of Google Analytics</button>
</div>
