@page "/charts"
@page "/chart"
@using sc2dsstats.lib.Data
@using sc2dsstats.lib.Db
@using sc2dsstats.shared
@inject LoadData _data
@inject DSoptions _options
@implements IDisposable

@if (DSdata.DesktopStatus.DatabaseReplays > 0)
{
    <div class="mt-1">
        <WebChart />
    </div>
}
else
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
    <div>
        <h4><span class="badge badge-danger">No replays found. Please <a href="scan">decode</a> your replays first.</span></h4>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        _data.DataLoaded += Update;
    }

    void Update(object sender, EventArgs ex)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _data.DataLoaded -= Update;
    }
}
