@page "/db"
@page "/db/{RepID:int}"
@using sc2dsstats.lib.Data
@using sc2dsstats.lib.Db
@inject LoadData _data
@inject DSoptions _options
@inject DSReplayContext  _context
@implements IDisposable

@if (DSdata.DesktopStatus.DatabaseReplays > 0  && !_options.Decoding)
{
    <sc2dsstats.shared.WebDatabase RepId="RepID" />
    <Game Replay="_options.Replay"/>
}
else
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
}


@code {
    [Parameter]
    public int RepID { get; set; } = 0;



    protected override void OnInitialized()
    {
        if (_options.db == null)
            _options.db = _context;
        _data.DataLoaded += Update;
    }



    void Update(object sender, EventArgs ex)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _data.DataLoaded -= Update;
    }

}
