@page "/db"
@page "/db/{RepID:int}"
@using sc2dsstats.lib.Data
@using sc2dsstats.lib.Db
@inject LoadData _data
@inject DSoptions _options

@if (DSdata.DesktopStatus.DatabaseReplays > 0)
{
    <sc2dsstats.shared.WebDatabase RepId="RepID" />
    <Game />
}
else
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
}


@code {
    [Parameter]
    public int RepID { get; set; } = 0;

}
