@page "/"
@using sc2dsstats.lib.Data
@inject LoadData _data

<h1>Hello, world!</h1>

Welcome to your new app.

@if (ShowHide)
{
<sc2dsstats.shared.WebOptions />

<sc2dsstats.shared.WebChart />
} else
{
<p>Loading ...</p>
}

@code {

    bool ShowHide = false;

    protected override async Task OnInitializedAsync()
    {
        //_data.LoadReplays();
        //_data.ReplaysLoaded += OnReplaysLoaded;
    }

    void OnReplaysLoaded(object sender, EventArgs e)
    {
        ShowHide = true;
        InvokeAsync(() => StateHasChanged());
    }
}