@page "/"
@using sc2dsstats.desktop.Service
@using sc2dsstats.lib.Data
@using System.IO


<h2 class="text-primary">
    sc2dsstats
    <small class="text-muted">Starcraft 2 Direct Strike Statistics</small>
</h2>

@if (Status.isFirstRun && DSdata.DesktopStatus.FoldersReplays == 0)
{
    <div class="container">
        <h3>Welcome to sc2dsstats - this is your first run, so please check the options and press Save.</h3>
        <h4>You can change the settings at any time at 'Settings' in the Nav menu</h4>
    </div>
    <UserSettingsPage />
}
else
{
    <br />
    <Scan />
}

@if (oldDataExists)
{
    <LoadOldDataPage />
}



@code {
    bool oldDataExists = false;
    protected override void OnInitialized()
    {
        if (Status.isFirstRun && File.Exists(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData) + "\\sc2dsstats_web\\data.json"))
        {
            oldDataExists = true;

        }
    }
}