@page "/info"

<h3>Info about sc2dsstats</h3>

<div class="jumbotron">
    Copyright 2019 Philipp Hetzner Open sourced under the GNU General Public License version 3
    <br />
    <br />
    Project Page on <a href="https://github.com/ipax77/dsweb_desktop" target="_blank">GitHub</a>
    <br />
    Report bugs / Requesting features: <a href="https://github.com/ipax77/dsweb_desktop/issues" target="_blank">issues on GitHub</a>
    <br />
    Feel free to open a new issue and/or even fix it yourself and create a pull request.
    Or send an email to ph.ilipp@web.de
    <br />
    Check for latest release <a href="https://github.com/ipax77/dsweb_desktop/releases/tag/latest" target="_blank">here (GitHub)</a>
    <br />
    <br />
    Support the development: <a href="https://www.paypal.me/ipax77" target="_blank">Donate via PayPal</a>

</div>

@code {

}
