@using sc2dsstats.lib.Data
@using sc2dsstats.shared
@inject NavigationManager _nav
@inject DSoptions _options

<div class="row">
    <!--
    <button class="btn btn-sm btn-secondary mb-1" @onclick="@(() => showDetails = !showDetails)">Show details</button>
    <button class="btn btn-sm btn-secondary mb-1" @onclick="@(() => showMap = !showMap)">Show map (beta)</button>
    -->
    <button type="button" class="btn btn-sm btn-danger" @onclick="@DeleteReplay">Delete</button>
</div>

<div class="container-fluid">
    <div>
        @if (showDetails == true)
        {
            <GameChart replay="_options.Replay" />
        }
        @if (showMap == true)
        {
            _nav.NavigateTo("/gamemap/" + _options.Replay.ID);
        }
    </div>
    <sc2dsstats.shared.WebGame />
</div>
<DeleteDialog @ref="delDialog" />

@code {
    bool showDetails = false;
    bool showMap = false;

    DeleteDialog delDialog;
    int id = 0;

    void DeleteReplay()
    {
        if (_options.Replay != null)
            id = _options.Replay.ID;
        delDialog.Show();
    }
}
