@using sc2dsstats.lib.Data
@using sc2dsstats.desktop.Service

@if (_Show)
{
    <div class="modal fade show d-block" id="delModal" @onclick="Show">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload statistics</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" @onclick:stopPropagation>
                    <label>
                        To improve this application it would be very nice if the statistics were uploaded from time to time.
                        <br />
                        All player names (including yours) will be anonymized before sending. Do you agree that your anonymized DS-replay data will be used at <a href="https://www.pax77.org/dsweb">https://www.pax77.org/dsweb</a> to generate global charts?
                        <br />
                        You can remove the Upload credential at any time at <a href="config">Config</a>
                    </label>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal" @onclick="@AllowUpload">Yes</button>
                    <button type="button" class="btn btn-primary mr-3" data-dismiss="modal" @onclick="@DeclineUpload">No</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private bool _Show = false;
    public void AllowUpload()
    {
        DSdata.Config.Uploadcredential = true;
        Status.SaveConfig();
        _Show = !_Show;
        StateHasChanged();
    }

    public void DeclineUpload()
    {
        DSdata.Config.Uploadcredential = false;
        DSdata.Config.MMDeleted = DateTime.UtcNow;
        Status.SaveConfig();
        _Show = !_Show;
        StateHasChanged();
    }
    public void Show()
    {
        @if ((DateTime.UtcNow - DSdata.Config.MMDeleted).TotalDays > 30)
            _Show = !_Show;
        else
            return;
        StateHasChanged();
    }
}