<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="System.Configuration.Abstractions" version="2.0.2.45" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net461" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net461" />
</packages>