@if (Interest == SortString)
{
    @if (SortOrder)
    {
        <span class="oi oi-arrow-top text-muted m-1"></span>
    }
    else
    {
        <span class="oi oi-arrow-bottom text-muted m-1"></span>
    }
}
else
{
    <span class="d-inline-block" style="width: 12px;"></span>
}

@code {
    [Parameter]
    public string Interest { get; set; }

    [Parameter]
    public string SortString { get; set; }

    [Parameter]
    public bool SortOrder { get; set; }

}