@page "/builds"
@using sc2dsstats.lib.Data
@using sc2dsstats.lib.Db
@inject DSoptions _options

@if (DSdata.Status.Count > 0)
{
    <sc2dsstats.shared.WebBuild Build="PAX" />
    <sc2dsstats.shared.WebGame />
}
else
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
}
<br />
<br />
<div id="dv_info" align="left" style="position: inherit; left: 10px; width: 1011px; margin-left: 10px; overflow: hidden">
    <div id="dv_info1" style="width: 400px; float: left">
        <p>@DSdata.INFO["Build"]</p>
    </div>
    <div id="dv_info2" style="width: 600px; font-size: 12px; overflow: hidden; left: 10px; float: left">
        <p></p>
    </div>
</div>


@code {
}
