@page "/"
@using sc2dsstats.lib.Data
@inject LoadData _data
@inject NavigationManager _nav

<h2>Starcraft 2 - Direct Strike - statistics</h2>
<br />
<div class="jumbotron" style="max-width: 400px;">
    sc2dsstats is a fan project for generating some statistics for Direct Strike created by Tya, one of StarCraft II’s most popular Arcade maps ever.
    <br /><br />
    You can generate your own stats with this app from <a href="https://github.com/ipax77/dsweb_desktop" title="GitHub fan project: Create charts from your own DS replays">
        <img alt="sc2dsstats" height="32" longdesc="https://github.com/ipax77/sc2dsstats" src="_content/sc2dsstats.shared/images/GitHub-Mark-Light-64px47.png" width="32" /> GitHub (free,  open-source)
    </a>
    <br /><br />
    The app allows you to upload your anonymized statistics, the summary of all uploads is shown on this website.
    There is also a ‘Builds’ section where you can analyze the unit composition from good players (with an average win rate > 70%) for each matchup.
    <br /><br />
    <b>Many thanks to all who have uploaded their stats!</b>
    <br /><br />
    Have fun :)
</div>

<div class="row">
    <button type="button" class="btn btn-primary" @onclick="@(() => _nav.NavigateTo("charts"))">Charts</button>
    <button type="button" class="btn btn-primary" @onclick="@(() => _nav.NavigateTo("builds"))">Builds</button>
</div>



@code {

    bool ShowHide = false;

}
