@page "/optout"

<div style="background: #8c6278;" class="jumbotron">
    <iframe style="border: 0; height: 200px; width: 600px;"
            src="https://www.danletard.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily="></iframe>
</div>