@using sc2dsstats.lib.Data
@inject DSoptions _options

@if (_options.Cmdrinfo.ContainsKey(interest))
{
    <div class="form-group mr-2">
        <span class="badge badge-danger mr-2">
            Total games<br />@_options.Cmdrinfo[interest].Games
        </span>
    </div>
    <div class="form-group mr-2">
        <span class="badge badge-danger mr-2">
            Total WR<br />@_options.Cmdrinfo[interest].Winrate
        </span>
    </div>
    <div class="form-group mr-2">
        <span class="badge badge-danger mr-2">
            Duration<br />@_options.Cmdrinfo[interest].AverageGameDuration
        </span>
    </div>
}

@code {
    private string interest = "ALL";

    protected override void OnInitialized()
    {
        if (!String.IsNullOrEmpty(_options.Interest))
            interest = _options.Interest;

    }
}
